
  body, html {margin:0;padding:0;}

  #is-jailed {
    position: absolute;
    bottom: 42px; right: 42px; width: 192px;
    margin: 0; padding: 0;
  }
  
  #j-time {
    color: #f40; text-shadow: 1px 1px 3px #fff;
    font-weight: bold; font-size: 32px; text-align: center;
    font-family: "Lucida Console", Monaco, monospace;
    margin: 0; padding: 0;
  }
  #rx_ticket {
    position: absolute;
    right: 32px;
    bottom: 96px;
    width: 256px;
    text-align: center;
  }
  #ticket_timer {
    position: relative;
    text-align: center; 
    font-size: 42px;
    color: #f70;
    text-shadow: 1px 1px 0 black;
    margin: 0 auto;
    font-weight: bold;
  }
  @keyframes blink {
      0%   { opacity: 1; }
      50%  { opacity: 0; }
      100% { opacity: 1; }
  }
  img {
      animation: blink 1s;
      animation-iteration-count: infinite;
  }
  
  #is-jailed img { position: relative; margin: -8px 0 0 0; }
  





  #pveh-select {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 256px;
    background: rgba(0,0,0,0.6);
    border-radius: 0 8px 8px 0;
    border: 2px ridge silver;
    margin-left: 4px;
  }
  #pveh-select h3,
  #pveh-select p {
    margin: 4px 0; padding: 0;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 0 black;
  }
  #pveh-select table {
    width: 100%;
  }
  #pveh-select th,
  #pveh-select td {
    width: 25%; 
    text-align: center;
  }
  #pveh-select th {
    color: white;
    text-shadow: 1px 1px 0 black;
  }
  #pveh-select button {
    min-width: 50%;
    font-size: 18px;
  }
  #pveh-table {
    max-height: 256px;
    overflow-y: auto;
  }