
  body, html {margin: 0; padding: 0;}
  
  #store-main {
    width: 60%;
    height: 50%;
    background: rgb(160, 160, 160);
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
  }
  
  #store-main h3 {
    width: 80%;
    height: 24px;
    text-align: center;
    margin: 4px auto;
    padding: 2px;
    background: rgb(120,120,120);
    border-radius: 8px;
    border: 1px outset #AAA;
    font-size: 1.2em;
    font-style: italic;
    text-shadow: 1px 1px 0 black;
    color: #DDD;
  }
  
  #store-items {
    height: calc(100% - 38px);
    overflow-y: scroll;
  }
  
  #store-cont {
    float: left;
    border: 2px inset silver;
    background: rgb(40, 40, 40);
    width: calc(70% - 12px);
    height: calc(100% - 12px);
    margin: 4px;
  }
  
  #store-ctrl {
    position: relative;
    float: right;
    border: 2px outset silver;
    background: #CCC;
    width: calc(30% - 12px);
    height: calc(100% - 12px);
    margin: 4px;
  }
  
  #store-ctrl input {
    width: 100%;
    text-align: center;
    height: 32px;
    background: #333;
    color: #0BF;
    font-weight: bold;
  }
  
  #store-btns {
    position: absolute;
    bottom: 4px;
    width: calc(100% - 8px);
    left: 4px;
  }
  
  #store-btns button {
    width: 100%;
    height: 32px;
    margin: 4px 0;
  }
  
  .item {
    position: relative;
    width: 96px;
    height: 96px;
    float: left;
    margin: 2px;
    padding: 0;
    border: 2px ridge silver;
  }
  
  .item img {
    width: 100%; height: 100%;
    background: rgba(140,140,140,0.6);
    margin: 0; padding: 0;
  }
  
  .icount {
    position: absolute;
    top: 2px;
    right: 2px;
    font-size: 14px;
    font-weight: bold;
    text-shadow: 1px 1px 0 black;
    color: rgb(220,220,220);
  }
  
  .iname {
    position: absolute;
    bottom: 2px;
    width: 100%;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    text-shadow: 1px 1px 0 black;
    color: rgb(220,220,220);
    right: 0;
  }