
  html, body {padding: 0; margin: 0}
  
  #motd_bkgd {
    border-radius: 4px;
    border-right: 2px ridge silver;
    min-width: 642px;
    min-height: 384px;
    width: 72%;
    height: 72%;
    margin: 0 auto;
    background: #AEB8B9;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    border: 2px ridge silver;
    text-align: center;
  }
  
  #logo {
    position: absolute;
    top: -72px;
    left: 24%;
    height: 64px;
  }
  
  #img1 {
    position: absolute;
    left: -110px;
    bottom: 4px;
    height: 60%;
  }
  
  #img2 {
    position: absolute;
    right: -100px;
    bottom: 4px;
    height: 56%;
  }
  
  #motd_fore {
    width: calc(100% - 8px);
    height: calc(100% - 26px);
    border-radius: 2px;
    margin: 2px auto;
    padding: 0;
    background: #4A4E59;
    border: 2px inset #62777C;
  }
  
  #letsplay {
    margin: 8px auto;
    text-align: center;
    background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
    border-radius:8px;
    border:1px solid #3d768a;
    cursor:pointer;
	  color:#ffffff;
	  font-family:Arial;
	  font-size:20px;
	  font-weight:bold;
	  padding:13px 32px;
	  text-decoration:none;
	  text-shadow:0px 1px 0px #3d768a;
    width: 40%;
  }
  
  .ntrdy {
    background: silver !important;
    color: #A40000 !important;
  }
  
  #letsplay:hover {
    background:linear-gradient(to bottom, #a5cc52 5%, #b8e356 100%);
    border:1px solid #83c41a;
    color: red;
    opacity: 1;
    -webkit-animation: flash 0.6s;
    animation: flash 0.6s;
  }
  
  #motd_info {
    float: left;
    width: 66%;
    text-align: left;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-y: auto;
  }
  
  #motd_info h3 {
    margin: 0;
    padding: 2px 4px;
    color: #A0D7DA;
    text-shadow: 1px 1px 2px #AEB8B9;
  }
  
  #motd_info p {
    margin: 0;
    padding: 2px 4px;
    color: #CFCFCF;
    text-shadow: 1px 1px 2px black;
    font-size: 0.825em;
  }
  
  #motd_info strong {
    color: #ff6700 !important; 
  }
  
  #changes {
    float: right; 
    text-align: left;
    overflow-y: scroll;
    height: 100%;
    border-left: 4px ridge silver;
    width: 34%;
    box-sizing: border-box;
  }
  
  #changes ul {
    padding: 0;
    margin: 0 0 0 4px;
    font-size: 1.2em;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 0 black;
  }
  #changes li {
    padding: 8px 0 0 0;
    font-size: 0.628em;
    margin: 0;
    text-align: left;
  }
  #changes ul li::first-line {
    color: #A0D7DA !important; 
  }
  #changes ul li {
    color: #AEB8B9;
  }
  
  
  
  
  
  
  
  
  
  #designer {
    position: relative;
    top: 50%;
    min-height: 442px;
    width: 322px;
    transform: translateY(-50%);
    background: #4A4E59;
    border: 2px ridge silver;
    border-radius: 0 8px 8px 0;
  }
  #designer h3 {
    margin: 4px 0 2px 0;
    padding: 0;
    text-align: center;
    color: #ccc;
    text-shadow: 2px 2px 0 black;
  }
  #designer p {
    text-align: center;
    width: 70%;
    margin: 0 auto;
    color: #0bf;
    font-style: italic;
    text-shadow: 1px 1px 0 black;
  }
  #dsg_parents {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  #dsg_parents table {width: 98%;}
  #dsg_parents table button {width: 80%;}
  #dsg_parents img {
    border: 1px inset silver; 
    background: black;
  }
  #dsg_parents th {
    text-align: center; 
    color: #AEB8B9;
    width: 20%;
    text-shadow: 1px 2px 0 black;
  }
  #dsg_parents td {
    width: 20%;
    text-align: center;
  }
  #dsg_overlays table {
    width: 60%;
    margin: 12px auto;
  }
  #dsg_overlays tr, #dsg_overlays td {
    width: 25%;
    text-align: center;
    height: 8px;
    color: #ccc;
    text-shadow: 1px 2px 0 black;
  }
  #dsg_overlays button {
    width: 80%; 
  }
  #dsg_feats table {
    width: 98%;
    margin: 12px auto;
  }
  #dsg_feats tr, #dsg_feats td {
    width: 25%;
    text-align: center;
    height: 8px;
    color: #ccc;
    text-shadow: 1px 2px 0 black;
  }
  #dsg_feats button {
    width: 80%; 
    height: 42px;
    border-radius: 8px;
  }
  #feat_slide {
    margin: 0 auto;
    text-align: center;
  }
  #dsg_clothes table {
    width: 96%;
    margin: 0 auto;
  }
  #dsg_clothes tr {
    color: #ccc;
    text-shadow: 1px 2px 0 black;
  }
  #dsg_clothes button {
    width: 90%;
    padding: 4px;
  }
  #dsg_pages {
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  #dsg_pages button {
    width: 46%; 
    margin: 12px 2px;
    padding: 2px 0;
  }
  
  input[type=range] {
    width: 80%;
    margin: 9.8px 0;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 2px 2px 1px #000000, 0px 0px 2px #FFF;
    background: #A0D7DA;
    border-radius: 8px;
    border: 0.2px solid #000001;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #ffa000;
    height: 28px;
    width: 16px;
    border-radius: 8px;
    background: #A0D7DA;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -10px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #A0D7DA;
  }
  #mbtn {
    background: linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
    color: blue;
    border-radius:4px;
    border: 1px solid #0bf;
    height: 24px;
  }
  #mbtn:hover {
    background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
    color: yellow;
    font-weight: bold;
  }
  #fbtn {
    background:linear-gradient(to bottom, #ff5bb0 5%, #ef027d 100%);
    color: pink;
    border-radius:4px;
	  border: 1px solid #ee1eb5;
    height: 24px;
  }
  #fbtn:hover {
    background:linear-gradient(to bottom, #ef027d 5%, #ff5bb0 100%);
    color: orange;
    font-weight: bold;
  }
  .nbtn {
    background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
    border-radius:6px;
	  border:1px solid #dcdcdc;
    font-family:Arial;
	  font-size:12px;
    color:#777777;
    text-shadow:0px 1px 0px #ffffff;
  }
  .nbtn:hover {
    background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
    color: black;
    font-weight: bold;
  }
  
  
  
  
  
  
  
  
  
  
  
  .confirm {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(40,40,40,0.62);
  }
  .c_action {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 40%;
    background: #AEB8B9;
    margin: 0 auto;
    text-align: center;
    border-radius: 12px;
    text-shadow: 1px 1px 0 black;
  }
  .c_action h3 {
    color: #f20;
    font-size: 1.25em;
    margin: 4px 0 0 0;
  }
  .c_action p {
    color: #eee;
    font-size: 1.25em;
  }
  .c_action h4 {color: white;}
  #ca_cancel {
    background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
	  background-color:#f9f9f9;
	  -moz-border-radius:6px;
	  -webkit-border-radius:6px;
	  border-radius:6px;
	  border:1px solid #dcdcdc;
	  display:inline-block;
	  cursor:pointer;
	  color:#666666;
	  font-family:Arial;
	  font-size:15px;
	  font-weight:bold;
	  padding:6px 24px;
	  text-decoration:none;
  	text-shadow:0px 1px 0px #ffffff;
  }
  #ca_cancel:hover {
    background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
    color: red;
    border:1px solid #d6bcd6;
  }
  #ca_reset {
    background:linear-gradient(to bottom, #fc8d83 5%, #e4685d 100%);
    border-radius:6px;
    border:1px solid #d83526;
    display:inline-block;
  	cursor:pointer;
  	color:#ffffff;
  	font-family:Arial;
  	font-size:15px;
  	font-weight:bold;
  	padding:6px 24px;
  	text-decoration:none;
  	text-shadow:0px 1px 0px #b23e35;
  }
  #ca_reset:hover {
    background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
    color: yellow;
  }
  #ca_ready {
    background:linear-gradient(to bottom, #dbe6c4 5%, #9ba892 100%);
    border-radius:6px;
    border:1px solid #b2b8ad;
    display:inline-block;
  	cursor:pointer;
  	color:#757d6f;
  	font-family:Arial;
  	font-size:15px;
  	font-weight:bold;
  	padding:6px 24px;
  	text-decoration:none;
  	text-shadow:0px 1px 0px #ced9bf;
  }
  #ca_ready:hover {
    background:linear-gradient(to bottom, #89c403 5%, #77a809 100%);
    color:#ffffff;
  }
  
  
  
  
  